name: unit_test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "26.0.2"
          gleam-version: "1.1.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test
      - run: cd ./test
      - run: cmp -s test_file.txt test_file_eq.txt
      - run: cd ..
      - run: gleam format --check src test
